<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Etusivu</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" th:href="@{~/css/index.css}" type="text/css"/>
    </head>

    <body>
        <div class="container" style="margin-top: 20px;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{~/}">Keskustelualue</a>
                    </div>
                    <ul class="nav navbar-nav" th:if="${user == null}">
                        <li><a href="/login">Kirjaudu sisään</a></li>
                        <li><a href="/register">Rekisteröidy</a></li>
                    </ul>
                    <ul class="nav navbar-nav" th:unless="${user == null}">
                        <li class='navbar-text' th:text="'Hei, ' + ${user.username}">Hei, <b>käyttäjätunnus</b></li>
                        <li><a href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </nav>
            <p th:if="${user != null and user.userLevel == 1}">
                <a th:href="@{'~/category/new'}" class="btn btn-success btn-xs" role="button">Uusi yläkategoria</a>
            </p>
            <div class="category" th:each="kategoria : ${kategoriat}" th:unless="${#lists.isEmpty(kategoriat)}">
                <div class="categoryheader">
                    <div class="categoryname" th:text="${kategoria.name}">Kategorian nimi</div>
                    <div class="categorydeletebutton text-right" th:if="${user != null and user.userLevel == 1}"><a th:href="@{'~/category/delete/' + ${kategoria.categoryId}}" class="btn btn-danger btn-xs" role="button">Poista</a></div>    
                </div>
                <div class="subcategory" th:each="alaKategoria : ${kategoria.subCategories}">
                    <div class="subcategoryheader borderbox">
                        <div class="subcategorytitle"><a th:href="@{'~/subcategory/' + ${alaKategoria.subCategoryId}}" th:text="${alaKategoria.name}">Alakategorian otsikko</a></div>
                        <div class="subcategorydesc" th:text="${alaKategoria.description}">Alakategorian kuvaus</div>
                        <div class="deletebtn text-right" th:if="${user != null and user.userLevel == 1}"><a th:href="@{'~/subcategory/delete/' + ${alaKategoria.subCategoryId}}" class="btn btn-danger btn-xs" role="button">Poista</a></div>
                    </div>
                    <div class="latestmessage" th:if="${alaKategoria.hasMessages}">Viestien lukumäärä: <b><span th:text="${alaKategoria.messageCount}">0</span></b> Viimeisin viesti: <b><span th:text="${alaKategoria.latestMessageUsername}">käyttäjä</span>, 
                            <i><a th:href="@{'~/thread/' + ${alaKategoria.latestMessageThreadId}}"><span th:text="${alaKategoria.latestMessageThreadTitle}">Viestiketjun otsikko</span></a></i>
                        </b>, <span th:text="'(' + ${alaKategoria.formattedLatestMessageTimestamp} + ')'">(Aikaleima)</span></div>
                    <div class="latestmessage" th:unless="${alaKategoria.hasMessages}">Viestien lukumäärä: <b>0</b></div>
                </div>
                <div th:if="${user != null and user.userLevel == 1}" class="newsubcategorybtn">
                    <a th:href="@{'~/subcategory/new/' + ${kategoria.categoryId}}" class="btn btn-success" role="button">Uusi alakategoria</a>
                </div>
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </body>

</html>
