<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestiketju</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" th:href="@{~/css/messages.css}" type="text/css"/>
    </head>

    <body>

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand"  th:href="@{~/}">Keskustelualue</a>
                    </div>
                    <ul class="nav navbar-nav" th:if="${user == null}">
                        <li><a href="/login">Kirjaudu sisään</a></li>
                        <li><a href="/register">Rekisteröidy</a></li>
                    </ul>
                    <ul class="nav navbar-nav" th:unless="${user == null}">
                        <li class='navbar-text' th:text="'Hei, ' + ${user.username}">Hei, <b>käyttäjätunnus</b></li>
                        <li><a href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </nav>
            <div class="alert alert-danger" th:if="${messageThread == null}">
                <strong>Virhe: </strong> Viestiketjua ei löydy.
            </div>
            <div th:if="${messageThread != null}">
                <div class="messageThreadTitle" th:text="${messageThread.title}">Viestiketjun otsikko</div>

                <div class="message" th:each="viesti : ${viestit}">
                    <div class="timestamp" th:text="${viesti.formattedTimestamp}">30.30.3030 30:30</div>
                    <div class="userinfo">
                        <p>
                            <b th:text="${viesti.username}">Käyttäjätunnus</b>
                        </p>
                        <img th:src="@{'~/img/avatar_default_256_256.png'}" height="64"/> 
                    </div>
                    <div class="messageContent" th:utext="${viesti.formattedBody}">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. 
                        Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. 
                        Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit. 
                        Sed augue orci, lacinia eu tincidunt et eleifend nec lacus. 
                        Donec ultricies nisl ut felis, suspendisse potenti. 
                        Lorem ipsum ligula ut hendrerit mollis, ipsum erat vehicula risus, eu suscipit sem libero nec erat. 
                        Aliquam erat volutpat. Sed congue augue vitae neque. Nulla consectetuer porttitor pede. 
                        Fusce purus morbi tortor magna condimentum vel, placerat id blandit sit amet tortor.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. 
                        Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. 
                        Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit. 
                        Sed augue orci, lacinia eu tincidunt et eleifend nec lacus. 
                        Donec ultricies nisl ut felis, suspendisse potenti. 
                    </div>
                </div>
                <div class="replyBox" th:if="${user != null}">
                    <form method="POST" class="form-horizontal">
                        <textarea cols="100" rows="7" name="message"></textarea><br/>
                        <input type="submit" value="Lähetä"/>
                    </form>
                    <p>
                        <small th:text="'Julkaistaan nimellä ' + ${user.username}">Julkaistaan nimellä käyttäjänimi</small>
                    </p>
                </div>
            </div>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        </div>
    </body>

</html>
