<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Rekisteröidy</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    </head>

    <body>
        <div class="container">
            <h2>Rekisteröidy</h2>
            <div class="alert alert-danger" th:if="${invalidCredentials}">
                <strong>Virhe: </strong> Käyttäjätunnus käytössä
            </div>
            <div class="alert alert-danger" th:if="${invalidCredentials2}">
                <strong>Virhe: </strong> Käyttäjätunnus tai salasana liian lyhyt
            </div>
            <form action="/register" method="POST" class="form-horizontal">
                <div class="form-group">
                    <label for="username">Käyttäjätunnus</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Käyttäjätunnus" autofocus="true"/><br/>
                    <label for="passwd">Salasana</label>
                    <input type="password" class="form-control" name="password" id="passwd" placeholder="Salasana"/>
                </div>
                <button type="submit" class="btn btn-primary" name="register">Rekisteröidy</button>
            </form>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>