<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestiketjut</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand"  th:href="@{~/}">Keskustelualue</a>
                    </div>
                    <ul class="nav navbar-nav" th:if="${user == null}">
                        <li><a href="/login">Kirjaudu sisään</a></li>
                        <li><a href="/register">Rekisteröidy</a></li>
                    </ul>
                    <ul class="nav navbar-nav" th:unless="${user == null}">
                        <li class='navbar-text' th:text="'Hei, ' + ${user.username}">Hei, <b>käyttäjätunnus</b></li>
                        <li><a href="/logout">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </nav>
            <div class="alert alert-danger" th:if="${subcategory == null}">
                <strong>Virhe: </strong> Alakategoriaa ei löydy.
            </div>
            <div th:unless="${subcategory == null}">
                <h3 th:if="${#lists.isEmpty(viestiketjut)}">Ei viestiketjuja.</h3>
                <p th:if="${user != null}">
                    <a th:href="@{'~/thread/new/' + ${subcategoryId}}" class="btn btn-primary" role="button">Uusi viestiketju</a>
                </p>
                <table class="table" th:unless="${#lists.isEmpty(viestiketjut)}">
                    <thead>
                        <tr><td>Otsikko</td><td>Luonut</td><td>Viestien lukumäärä</td><td>Viimeisin viesti</td></tr>
                    </thead>
                    <tr th:each="viestiketju : ${viestiketjut}">
                        <td><a th:text="${viestiketju.title}" th:href="@{'~/thread/' + ${viestiketju.threadId}}"></a></td><td th:text="${viestiketju.creationUsername}">Käyttäjätunnus</td><td th:text="${viestiketju.messageCount}">Viestien lukumäärä</td><td><span th:text="${viestiketju.latestPostUsername}">Käyttäjätunnus</span>, <span th:text="${viestiketju.formattedLatestPostTimestamp}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </body>

</html>
